$minSmall: 480px;
$maxSmall: 780px;
$minMiddle: $maxSmall + 1;
$maxMiddle: 980px;
$minWide: $maxMiddle + 1;
$maxWide: 2000px;

@mixin mediasize($size) {
  @if $size == "wide" {
    @media screen and (min-width: $minWide) and (max-width: $maxWide) {
      @content;
    }
  } @else if $size == "middle" {
    @media screen and (min-width: $minMiddle) and (max-width: $maxMiddle) {
      @content;
    }
  } @else if $size == "small" {
    @media screen and (min-width: $minSmall) and (max-width: $maxSmall) {
      @content;
    }
  }
}
